@model List<ShopViewModel>
@{
    ViewData["Title"] = "Male Fashion - Home";
    ViewBag.Page = "Məhsullar";
    int pageCount = (int)TempData["PageCount"];
    int productCount = (int)TempData["ProductCount"];
    int pageNumber = (int)TempData["PageNumber"];
    int pageSize = (int)TempData["PageSize"];

}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Məhsullar</h4>
                    <div class="breadcrumb__links">
                        @if (ShopFilter.CategoryId != 0 && ShopFilter.CategoryType != null)
                        {
                            <a href="@Url.Action("Index","Home")">Əsas Səhifə</a>
                            <a href="@Url.Action("ResetCategoryFilterForIndex","Shop")">Bütün Məhsullar</a>
                            <span> @ShopFilter.CategoryName </span>
                        }
                        else
                        {
                            <a href="@Url.Action("Index","Home")">Əsas Səhifə</a>
                            <span>Məhsullar </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="@Url.Action("Index","Shop")">
                            <input type="text" name="name" placeholder="Axtarış...">
                            <button type="submit">
                                <span class="icon_search"></span>
                            </button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <form method="post" action="@Url.Action("Filter","Shop")">
                                @if (ShopFilter.CategoryId == 0 && ShopFilter.CategoryType == null)
                                {
                                    <vc:category></vc:category>
                                }
                                <vc:brand></vc:brand>
                                <vc:price-filter></vc:price-filter>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Ölçü</a>
                                    </div>
                                    <div id="collapseFour" class="collapse " data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">
                                                    xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">
                                                    s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">
                                                    m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">
                                                    xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">
                                                    2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">
                                                    xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">
                                                    3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">
                                                    4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Rənglər</a>
                                    </div>
                                    <div id="collapseFive" class="collapse " data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Teqlər</a>
                                    </div>
                                    <div id="collapseSix" class="collapse " data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="find__filter">
                                        <button type="submit">Axtar</button>
                                    </div>
                                </div>
                                <div class="reset__filter">
                                    <a href="@Url.Action("ResetFilter","Shop")">Yenilə</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 ">
                            <div class="shop__product__option__left">
                                <p>@TempData["ProductCount"] məhsuldan @(pageSize *( pageNumber-1)+1) – @(pageSize * pageNumber)</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 d-flex ">
                            <div class="shop__product__option__right ml-auto ">

                                @if (ShopOrder.OrderPrice == OrderPriceEnum.Ascending)
                                {
                                    <a href="@Url.Action("OrderByPrice","Shop",new { orderPrice = OrderPriceEnum.Descending})">
                                        Qiymət <i class="fas fa-chevron-down"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("OrderByPrice","Shop",new { orderPrice = OrderPriceEnum.Ascending})">
                                        Qiymət <i class="fas fa-chevron-up"></i>
                                    </a>
                                }


                                @if (ShopOrder.OrderName == OrderNameEnum.Ascending)
                                {
                                    <a class="ml-2" href="@Url.Action("OrderByName","Shop",new { orderName = OrderNameEnum.Descending})">
                                        Ad <i class="fas fa-chevron-down"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="ml-2" href="@Url.Action("OrderByName","Shop",new { orderName = OrderNameEnum.Ascending})">
                                        Ad <i class="fas fa-chevron-up"></i>
                                    </a>
                                }



                            </div>
                            <ul class="page__size ml-4">
                                Göstər:
                                <li>
                                    <a href="@Url.Action("Index","Shop",new {pageSize=16 })">16</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Shop",new {pageSize= 24})">24</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Shop",new {pageSize=36 })">36</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (ShopViewModel viewModel in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/@viewModel.ProductPhotos[0].Photo.Name">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#"><img src="~/img/icon/heart.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/img/icon/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/img/icon/search.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@viewModel.Name</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>$@Decimal.Truncate(viewModel.SellingPrice)</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @for (int i = 1; i <= (int)TempData["PageCount"]; i++)
                            {
                                <a href="@Url.Action("Index","Shop",new {pageSize, pageNumber=i })" class="@((int)TempData["PageNumber"]==i?"active":"")">@(i)</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>